# Telegram bot token (from @BotFather)
BOT_TOKEN=8602717031:AAG8Mk-OGxhgJH8AutwM2kf_4P8lEkPJbx0

# Telegram API credentials (https://my.telegram.org)
TG_API_ID=28825355
TG_API_HASH=1eee687d956cb55e52449e0a7e0262d5

# Optional: bot admin IDs separated by comma
BOT_ADMINS=

# SQLite DB path
DB_PATH=data/app.db

# Session storage dir for user accounts
SESSIONS_DIR=data/sessions